.countries {
  display: grid;
  justify-content: center;
  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @media screen and (max-width: 810px) {
      &__countries {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    @media screen and (max-width: 410px) {
      &__countries {
        grid-template-columns: 1fr;
      }
    }
  }
}
