@import "../../generals";

.pagination {
  width: 100%;
  display: flex;
  padding: 2rem 0;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  button {
    font-size: 2rem;
    @extend .rst-input;
    &:focus {
      outline: none;
    }
  }
}
